exportPattern("^[[:alpha:]]+")
importFrom("spatstat.geom","dirichlet","plot.owin","as.owin","owin","ppp")
importFrom("raster","getData")
importFrom("fields","Krig","predictSurface")
importFrom("mapplots","draw.pie")
importFrom("qlcMatrix","sim.obs")
importFrom("seriation","seriate","get_order")
importFrom("MASS","kde2d")
importFrom("maptools","as.owin.SpatialPolygons")
importFrom("alphahull","ahull","anglesArc")
import("sp")
import("maps")
import("mapdata")
importFrom("methods", "slot")
importFrom("grDevices", "dev.new", "dev.off", "grey", "rainbow", "rgb", "xy.coords")
importFrom("graphics", "axis", "contour", "legend", "mtext", "par", "plot.new", "plot.window", "points", "polygon", "rect", "text", "title")
importFrom("stats", "as.dist", "cmdscale", "na.omit", "prcomp", "varimax")
importFrom("utils", "head")
