exportPattern("^[[:alpha:]]+")
importFrom("spatstat","dirichlet","plot.owin","as.owin","owin","ppp")
importFrom("raster","getData")
importFrom("fields","Krig","predictSurface")
importFrom("mapplots","draw.pie")
importFrom("qlcMatrix","sim.obs")
importFrom("seriation","seriate","get_order")
importFrom("MASS","kde2d")
importFrom("maptools","as.owin.SpatialPolygons")
importFrom("alphahull","ahull","anglesArc")
import("sp")
import("maps")
import("mapdata")
